CONSTRUCT_PLATFORM_API_URL=http://localhost:4100
CONSTRUCT_RUNTIME_TARGET_ID=testing-todo-app-production
CONSTRUCT_RUNTIME_TARGET_SECRET=local-development-runtime-target-secret
CONSTRUCT_RUNTIME_ASSET_ORIGIN=https://assets.thejesselee.com
